{
   "parser": "@typescript-eslint/parser",
   "parserOptions": {
     "project": "./tsconfig.json",
     "createDefaultProgram": true,
     "debugLevel": true
   }, 
   "plugins": ["@typescript-eslint"],
   "extends": ["airbnb-typescript/base"],
   "rules": {
     "import/prefer-default-export": "off",
     "no-console": "off",
     "max-len": "off",
     "max-classes-per-file": "off",
     "import/no-extraneous-dependencies": "off",
     "no-restricted-syntax": "off",
     "@typescript-eslint/no-use-before-define": "off",
     "class-methods-use-this": "off",
     "radix": "off",
     "@typescript-eslint/no-throw-literal": "off",
     "no-plusplus": "off"
   }
}
